/* --- Lightbox Style --- */

img:hover {
    cursor: pointer;
}

#lightbox {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#lightbox-title {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
}