body {
    background-color: #f8f9fa;
    color: #333333;
}

h1 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h3 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h4 {
    font-family: "Roboto", serif;
    font-weight: 500;
}

p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}