body {
    background-color: #f8f9fa;
    color: #333333;
    margin: 0;
}

h1 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h3 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h4 {
    font-family: "Roboto", serif;
    font-weight: 500;
}

p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}

#title {
    color: white;
    font-size: 78px;
    font-weight: 900;
    margin: 0;
    line-height: 100%;
}

.hero {
    background-image: url(/Web-Engineering-WS24/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.hero_wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 20vh;
}

.inner_hero_wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2vh;
}

.inner_hero_wrapper p {
    color: white;
    margin: 0;
    text-align: left;
}

.button {
    background-color: #00aaff;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-weight: 900;
    width: fit-content;
}

header {
    background-color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-right: 10px;
}

.navigation a:last-child {
    margin-right: 0;
}

.header-wrapper {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

footer {
    background-color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 14px;
    color: black;
    height: 5vh;
}