body {
    background-color: #f8f9fa;
    color: #333333;
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 300;
}

h1 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h3 {
    font-family: "Roboto", serif;
    font-weight: 700;
}

h4 {
    font-family: "Roboto", serif;
    font-weight: 500;
}

p {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}

#title {
    color: white;
    font-size: 78px;
    font-weight: 900;
    margin: 0;
    line-height: 100%;
}

.hero {
    background-image: url(/Web-Engineering-WS24/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.hero_wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 20vh;
}

.inner_hero_wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2vh;
}

.inner_hero_wrapper p {
    color: white;
    margin: 0;
    text-align: left;
}

button {
    background-color: #00aaff;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-weight: 900;
    width: fit-content;
}

header {
    background-color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
}

.menu-item:hover .sub-menu {
    display: block;
}

.submenu-item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.submenu-item:hover {
    background-color: #f0f0f0;
}

.navigation a {
    text-decoration: none;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-right: 10px;
}

.header-wrapper {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

footer {
    background-color: #dfe6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 14px;
    color: black;
    height: 5vh;
    margin-top: 5vh;
}

.chapter_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chapter_navigation_first_page {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.chapter_navigation_last_page {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    margin-left: 10px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 24%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333333 transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.summary {
    background-color: #CFE2FF;
    padding: 16px;
    border: solid 1px #00aaff;
    border-radius: 5px;
    margin-bottom: 1em;
}

.summary h3 {
    margin-top: 0;
}

.important {
    background-color: rgba(210, 4, 45, 0.25);
    padding: 16px;
    border: solid 1px rgba(210, 4, 45, 1);
    border-radius: 5px;
    margin-bottom: 1em;
}

.important h3 {
    margin-top: 0;
}

.opinion {
    background-color: rgba(255, 204, 128, 0.25);
    padding: 16px;
    border: solid 1px rgba(255, 204, 128, 1);
    border-radius: 5px;
    margin-bottom: 1em;
}

.opinion h3 {
    margin-top: 0;
}

.article_image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img:hover {
    cursor: pointer;
}

#lightbox {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#lightbox-title {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
}