/* --- Tooltip Style --- */

.title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    margin-left: 10px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 24%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333333 transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}